@import url(../../../../css-variables.css);

.landingPage-main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.landingPage-title {
    display: flex;
    margin: 0 auto;
    width: 100vw;
}

.landingPage-title p {
    padding: 20px 0;
    margin: auto;
    font-weight: bold;
    font-size: 14px;
}

nav {
    margin: auto;
    display: flex;
    width: 100vw;
    font-size: 12px;
}

nav>div:nth-child(2) {
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
}


.nav-container {
    display: flex;
    min-height: 50px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.search-bar {
    margin: auto;
    margin-top: 15px;
    width: 80vw;
    padding: 20px 0;
    display: flex;
    background-color: var(--search-bar-color);
    margin-bottom: 0;
}

.search-bar * {
    margin: auto;
}

.search-bar input {
    width: 70%;
    background-color: transparent;
    border: none;
    outline: none;
}

.info-slider {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    height: 20vh;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 0px;
}

.info-slider * {
    margin: auto;
}

.info-slider>div:nth-child(3) {
    margin: auto 10px;
}

.space {
    min-width: 10px;
    height: 10px;
}

.options-container {
    margin: auto;
    margin-top: 30px;
    display: flex;
    width: 100vw;
}

.options-container>div {
    margin-top: 0;
}

.products-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 100px;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 15px 0;
    display: flex;
    width: 100%;
    background-color: #fff;
}