:root {
    --blue-color: #227EFF;
    --border-color: #CBD6E0;
    --search-bar-color: #EDF2F7;
    --grey-text: #718596;
    --svg-container: #EDF2F7;
    --background: #F9FAFC;
    --notification: #D3FDE9;
    --green-dark: #023B20;
    --notification-border: #93ECC1;
}
